

.services-wrapper{
    width: 100%;
  padding:10px 60px ;
}
.services-box-wrapper{
    display: flex;
    align-items: center;
    margin: 3rem auto;
    flex-wrap: wrap;

    
    
}
.section-title{
    line-height: 2px;
}

.subtitle{
    font-size: 2rem;
    font-weight: 700;
    color: #151515;
    text-align: justify;
    
}
.title{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #aaaaaa;

   
}
.title::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #ffde9e;
    right: 3rem;

}
.services-box{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    flex-direction: column;
    height: 250px;
    padding: 80px 30px;
    justify-content: center;
    margin: 1.5rem;
    background-color: #fff;
    transition: all .3s ease-in-out;

    
}
.services-box:hover{
     transform:translateZ(0)  scale(1.01)!important;
  

    
    box-shadow: 0 3px 3px rgba(0,0,0, .3);
    
    cursor: pointer;
}
.services-box .icon{
    background-color:#ffc451 ;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
   
}

.services-box .icon i{
    font-size: 28px;
    color: #151515;

}

.services-box h4 a{
    font-size: 24px;
    color: #151515;
    transition: all .3s linear;
    line-height: 1.5rem;
}
.services-box a:hover{
    color: #ffc451;

}
.services-box p{
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #848484;
    margin-bottom: 0;
}
