
.portfolio-wrapper{
    padding:10px 60px ;
    width: 100%;
}
.section-title h2::before{
    right: 4.5rem;
}
.tab-bar{
    display: flex;
    width: 100%;
    justify-content: center;
}
.tab-bar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.tab-bar ul li{
    padding: 8px 18px 10px 18px ;
    color: #151515;
    border-radius: 3px;
    font-size: 14px;
    transition: all .3s;
    
}
.tab-bar ul li:hover{
    cursor: pointer;
    background-color: #ffc451;
}
.show{
    background-color: #ffc451;
    margin-left: 5px;
}
.portfolio {
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 1rem;
    transition: all .3s ease-in-out;



}

.protfoilo-img{
 width: 350px;




}

.portfolio:hover{
    transform: translateY(-10px);
}

    
  


.profolio-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
  
}