
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px 0px;
    transition: all .3s ease-in;
    width: 180px;
   


}
.card:hover{
    border: 1px solid #ffc451;
}
.card i{
    font-size: 32px;
    line-height: 1;
    color: #ffc451
}
.card h3 a{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in;
}
.card h3 a:hover{
    color: #ffc451;

}