.cta{

    
     background-size: cover;
     padding: 60px 0;
     height: 200px;
     margin-bottom: 4rem;
     background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(../../../public/img/cta-bg.jpg) fixed center center;
  
    color: #fff;
   
}
.text{
  text-align: center;
  margin-top: -3rem;
}
.cta h3{
  
    font-size: 28px;
    font-weight: 700;
  
}
.cta p{
   
    
    text-align: justify;
    margin: 0 auto !important;
    font-weight: 700;
    line-height: 2rem;
    padding: 0rem  3rem 3rem 3rem;

}
.cta a{
    border: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 8px 28px;
    /* margin-top: 2rem; */
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all .5s ;
   

}
.cta a:hover{
    background-color: #ffc451;
    color: #444;
}

